URL=
TENDERLY_KEY=
TENDERLY_ACCOUNT=
TENDERLY_PROJECT=
NEXT_PUBLIC_ENV=prod
NEXT_PUBLIC_ENABLE_GOVERNANCE=true
NEXT_PUBLIC_ENABLE_STAKING=true
NEXT_PUBLIC_API_BASEURL=https://aave-api-v2.aave.com
NEXT_PUBLIC_TRANSAK_APP_URL=https://global.transak.com
NEXT_PUBLIC_TRANSAK_API_URL=https://api.transak.com
NEXT_PUBLIC_TRANSAK_API_KEY=799087ea-c2be-44b8-a0fe-56d96b37ee3c
NEXT_PUBLIC_FORK_BASE_CHAIN_ID=
NEXT_PUBLIC_FORK_CHAIN_ID=
NEXT_PUBLIC_FORK_URL_RPC=
NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=
NEXT_PUBLIC_MIXPANEL=
NEXT_PUBLIC_FIAT_ON_RAMP=true

#Setup TON testnet
 #Testnet 
NEXT_PUBLIC_FACTORY_DEDUST_TESTNET=EQAROb_l-1yGMKjPGUmc0tNjYOsXTKTsucXmhh2Fm9y98z7Y
#Testnet pool address in TON network
NEXT_PUBLIC_ADDRESS_POOL_TESTNET=EQCHqHB4KbR3WmzYvfHKxCDs0Wm0jjUi77QEhMH3rLABbM46
#Testnet TREASURY address
NEXT_PUBLIC_ADDRESS_TREASURY=0QCNpAeObuWy3PDX--fV1SZ72cOI3lrP2qaC29bRAOPa_L54
#Domain API V2 TON network testnet
NEXT_PUBLIC_API_TON_V2_TESTNET=https://testnet.toncenter.com/api/v2
#Domain API V3 TON network testnet
NEXT_PUBLIC_API_TON_V3_TESTNET=https://testnet.toncenter.com/api/v3
#Domain view transactions TON network testnet
NEXT_PUBLIC_API_TON_SCAN_V2_TESTNET=https://testnet.tonapi.io/v2
#Domain view transactions TON network testnet
NEXT_PUBLIC_SCAN_TRANSACTION_TON_TESTNET=https://testnet.tonviewer.com
#Domain BE API
NEXT_PUBLIC_URL_API_BE=https://aave-ton-api.sotatek.works
#Scan price token
NEXT_PUBLIC_SCAN_PRICE_TON=https://www.coingecko.com
#Domain side
NEXT_PUBLIC_URL_PUBLIC=https://aave-stesting.sotatek.works

#Address token
NEXT_PUBLIC_ADDRESS_USDT=EQCcZvU9dbEQNeCWup5FB7ixsr0K-mRm2fT_ETq6hrFBLVZk
NEXT_PUBLIC_ADDRESS_USDC=EQAw6XehcP3V5DEc6uC9F1lUTOLXjElDOpGmNLVZzZPn4E3y
NEXT_PUBLIC_ADDRESS_DAI=EQDPC-_3w_fGyJd-gxxmP8CO_zQC2i3dt-B4D-lNQFwD_YvO
NEXT_PUBLIC_ADDRESS_ST_TON=EQCsiCNW3mqOx-GqcpeP1t-0P0z6nzgq1h_n_b10neKKjWFk
NEXT_PUBLIC_ADDRESS_TS_TON=EQD42OQYC4nGc3KbrcKpOKkZMz831WkqDC8fio-pgDUi_oHe